<h1>Ruby on Railsで"Hello World"を作成する</h1>
<h2><%= @hello %></h2>


<% if current_user %>
  <%= current_user.icon_photo_name %>
  <p>AAAAAAAAAAAAAAAAAAAAAAAAA</p>
<% else %>
<p>BBBBBBBBBBBBBBBBBBBBBB</p>
<% end %>