<head>
  <!-- Tailwind CSS CDN -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
  <%= render 'shared/header' %>

  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 my-12">
    <div class="text-4xl font-bold text-gray-800 mb-4">ホーム画面</div>
    <div class="text-lg text-gray-600">このサイトは数学に関する記事や質問を投稿できるサイトです。</div>
  </div>

</body>
